*{
    margin: 0;
}
body{
    background-color: #dad8d8;
}
nav{
    top: 0;
    width: 100%;
    height: 110px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.navbar-container{
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
}
.navbar-logo{
    height: 128px;
}
.navbar-center{
    margin-inline: auto;
    gap: 1vw;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    cursor: pointer;
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: gray;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    padding: 2vw 10vw;
}

.card{
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
}

.card:hover{
    transform: scale(1.05);
}

.card img{
    height: auto;
    border-radius: 8px;
    margin: 1rem;
}

.card-text{
    margin-left: 20px;
}

.social-media{
    display:flex;
    gap: 2rem;
}

.instagram:hover{
    cursor:pointer;
}

.whatsapp:hover{
    cursor:pointer;
}


.instagram-icon{
    height: 32px;
}

.whatsapp-icon{
    height: 32px;
}

#about{
    padding: 2vw 10vw;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#contact{

}

.about-content{
    display: flex;
    flex-direction: row;
}
.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.about-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.about-img img{
    width: 512px;
}